---
const title = "Chaos Current"
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{title}</title>
    </head>
    <body>
        <h1>{title}</h1>
        <p>Scaffold is up.</p>
    </body>
</html>
